In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import bs4
import requests
from io import StringIO

In [2]:
# In this case the table is commented out
# fetch the web page content
response = requests.get('https://fbref.com/en/comps/61/stats/Primera-Division-Stats')
soup = bs4.BeautifulSoup(response.content, 'html.parser')

# find all comments
comments = soup.find_all(string=lambda text:isinstance(text, bs4.Comment))
commented_out_tables = [bs4.BeautifulSoup(cmt, 'html.parser').find_all('table') for cmt in comments]

# filter to keep only single tables
commented_out_tables = [tab[0] for tab in commented_out_tables if len(tab) == 1]

# convert the table to a DF
df_liga_par = pd.read_html(StringIO(str(commented_out_tables[0])))[0]

/tmp/ipykernel_3568/3705642280.py:8: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  commented_out_tables = [bs4.BeautifulSoup(cmt, 'html.parser').find_all('table') for cmt in comments]

In [3]:
df_liga_par.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                  Rk             Player             Nation                Pos
0                  1     Nelson Acevedo             ar ARG                 MF
1                  2       Diego Acosta             py PAR                 FW
2                  3     Marcelo Acosta             py PAR                 MF
3                  4   Milciades Adorno             py PAR                 FW
4                  5   Milciades Adorno             py PAR              FW,MF

  Unnamed: 4_level_0 Unnamed: 5_level_0 Unnamed: 6_level_0 Playing Time  \
               Squad                Age               Born           MP
0            Tacuary                 35               1988           17
1      Sport Luqueño                 21               2002            6
2     Sol de América                 23               2000           27
3            Guaraní                 19               2005            1
4  Sportivo Ameliano                 19               2005            6

                ... Performance                 Per 90 Minutes              \
  Starts   Min  ...          PK PKatt CrdY CrdR            Gls   Ast   G+A
0      8   739  ...           0     0    2    0           0.00  0.00  0.00
1      3   255  ...           0     0    0    0           0.35  0.35  0.71
2     13  1108  ...           0     0    2    2           0.08  0.16  0.24
3      1    54  ...           0     0    0    0           0.00  0.00  0.00
4      6   301  ...           0     0    2    0           0.30  0.00  0.30

               Unnamed: 24_level_0
   G-PK G+A-PK             Matches
0  0.00   0.00             Matches
1  0.35   0.71             Matches
2  0.08   0.24             Matches
3  0.00   0.00             Matches
4  0.30   0.30             Matches

[5 rows x 25 columns]

In [4]:
# check number of rows
df_liga_par.shape

(531, 25)

In [7]:
# get full columns
df_liga_par.columns.values

array(['Unnamed: 0_level_0_Rk', 'Unnamed: 1_level_0_Player',
       'Unnamed: 2_level_0_Nation', 'Unnamed: 3_level_0_Pos',
       'Unnamed: 4_level_0_Squad', 'Unnamed: 5_level_0_Age',
       'Unnamed: 6_level_0_Born', 'Playing Time_MP',
       'Playing Time_Starts', 'Playing Time_Min', 'Playing Time_90s',
       'Performance_Gls', 'Performance_Ast', 'Performance_G+A',
       'Performance_G-PK', 'Performance_PK', 'Performance_PKatt',
       'Performance_CrdY', 'Performance_CrdR', 'Per 90 Minutes_Gls',
       'Per 90 Minutes_Ast', 'Per 90 Minutes_G+A', 'Per 90 Minutes_G-PK',
       'Per 90 Minutes_G+A-PK', 'Unnamed: 24_level_0_Matches'],
      dtype=object)

In [6]:
# join columns
df_liga_par.columns = ['_'.join(col).strip() for col in df_liga_par.columns.values]
df_liga_par.head()

,Unnamed: 0_level_0_Rk,Unnamed: 1_level_0_Player,Unnamed: 2_level_0_Nation,Unnamed: 3_level_0_Pos,Unnamed: 4_level_0_Squad,Unnamed: 5_level_0_Age,Unnamed: 6_level_0_Born,Playing Time_MP,Playing Time_Starts,Playing Time_Min,...,Performance_PK,Performance_PKatt,Performance_CrdY,Performance_CrdR,Per 90 Minutes_Gls,Per 90 Minutes_Ast,Per 90 Minutes_G+A,Per 90 Minutes_G-PK,Per 90 Minutes_G+A-PK,Unnamed: 24_level_0_Matches
0,1,Nelson Acevedo,ar ARG,MF,Tacuary,35,1988,17,8,739,...,0,0,2,0,0.00,0.00,0.00,0.00,0.00,Matches
1,2,Diego Acosta,py PAR,FW,Sport Luqueño,21,2002,6,3,255,...,0,0,0,0,0.35,0.35,0.71,0.35,0.71,Matches
2,3,Marcelo Acosta,py PAR,MF,Sol de América,23,2000,27,13,1108,...,0,0,2,2,0.08,0.16,0.24,0.08,0.24,Matches
3,4,Milciades Adorno,py PAR,FW,Guaraní,19,2005,1,1,54,...,0,0,0,0,0.00,0.00,0.00,0.00,0.00,Matches
4,5,Milciades Adorno,py PAR,"FW,MF",Sportivo Ameliano,19,2005,6,6,301,...,0,0,2,0,0.30,0.00,0.30,0.30,0.30,Matches

In [9]:
# delete columns reassigning to the DF

df_liga_par = df_liga_par.drop(['Unnamed: 0_level_0_Rk', 'Unnamed: 24_level_0_Matches'], axis=1)

In [15]:
df_liga_par.columns.values

array(['Unnamed: 1_level_0_Player', 'Unnamed: 2_level_0_Nation',
       'Unnamed: 3_level_0_Pos', 'Unnamed: 4_level_0_Squad',
       'Unnamed: 5_level_0_Age', 'Unnamed: 6_level_0_Born',
       'Playing Time_MP', 'Playing Time_Starts', 'Playing Time_Min',
       'Playing Time_90s', 'Performance_Gls', 'Performance_Ast',
       'Performance_G+A', 'Performance_G-PK', 'Performance_PK',
       'Performance_PKatt', 'Performance_CrdY', 'Performance_CrdR',
       'Per 90 Minutes_Gls', 'Per 90 Minutes_Ast', 'Per 90 Minutes_G+A',
       'Per 90 Minutes_G-PK', 'Per 90 Minutes_G+A-PK'], dtype=object)

In [16]:
# rename columns labels

df_liga_par.columns = ['player', 'nation', 'pos', 'squad', 'age', 'born', 'mp', 'starts', 'min', '90s', 'goals', 'ast', 'g+a', 'g-pk', 'pk', 'pkatt', 'crdy', 'crdr', 'per_gls', 'per_ast', 'per_g+a', 'per_g-pk', 'per_g+a-pk']

In [17]:
df_liga_par.head()

,player,nation,pos,squad,age,born,mp,starts,min,90s,...,g-pk,pk,pkatt,crdy,crdr,per_gls,per_ast,per_g+a,per_g-pk,per_g+a-pk
0,Nelson Acevedo,ar ARG,MF,Tacuary,35,1988,17,8,739,8.2,...,0,0,0,2,0,0.00,0.00,0.00,0.00,0.00
1,Diego Acosta,py PAR,FW,Sport Luqueño,21,2002,6,3,255,2.8,...,1,0,0,0,0,0.35,0.35,0.71,0.35,0.71
2,Marcelo Acosta,py PAR,MF,Sol de América,23,2000,27,13,1108,12.3,...,1,0,0,2,2,0.08,0.16,0.24,0.08,0.24
3,Milciades Adorno,py PAR,FW,Guaraní,19,2005,1,1,54,0.6,...,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00
4,Milciades Adorno,py PAR,"FW,MF",Sportivo Ameliano,19,2005,6,6,301,3.3,...,1,0,0,2,0,0.30,0.00,0.30,0.30,0.30

In [18]:
# save CSV

df_liga_par.to_csv('/home/axel/Code/Python/axel/football_analysis/csv/liga_par.csv', index=False)

In [39]:
df_liga_par.columns.values

array(['player', 'nation', 'pos', 'squad', 'age', 'mp', 'starts',
       'minutes', '90s', 'goals', 'ast', 'g+a', 'g-pk', 'pk', 'pkatt',
       'crdy', 'crdr', 'per_gls', 'per_ast', 'per_g+a', 'per_g-pk',
       'per_g+a-pk'], dtype=object)

In [ ]:
df_filter = pos